<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1-38</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <style>
        img {
            float: left;
            margin-right: 1rem;
        }

        .personne {
            clear: left;
            padding: 1rem;
        }

        input[type="checkbox"],
        select {
            margin-right: 1rem;
        }

        .misEnForme {
            background: #e0ffff;
            font-family: georgia;
            font-size: 1.2rem;
            margin: 1rem;
        }

        .show {
            display: block;
        }

        .hide {
            display: none;
        }
    </style>
</head>

<body>
    <div id="app">
        <fieldset>
            <legend>Filtre sur le nom</legend>
            <input type="text" v-model="filter_text">
        </fieldset>
        <fieldset>
            <legend>Options</legend>
            Homme <input type="checkbox" v-model="homme">
            Femme <input type="checkbox" v-model="femme">
            Téléphone <input type="checkbox" v-model="show_tel">
            Email <input type="checkbox" v-model="show_mail">
            Photo
            <select v-model="pic_size">
                <option value="1">Petit</option>
                <option value="2" selected>Moyen</option>
                <option value="3">Grand</option>
            </select>
            Mise en forme <input type="checkbox" @change="show_mise = !show_mise">
        </fieldset>
        <div class="personne" v-for="p in filteredPersons" :key="p.login.uuid">
            <div>
                    <div class="misEnForme" :class="{show: show_mise, hide: !show_mise}" ></div>
                <img v-if="pic_size == '1'" :src="p.picture.thumbnail">
                <img v-else-if="pic_size == '2'" :src="p.picture.medium">
                <img v-else :src="p.picture.large">
                {{ p.name.title }} {{ p.name.first }} {{ p.name.last }}<br>
                <div v-if="show_tel">{{ p.phone }}</div><br>
                <div v-if="show_mail">{{ p.email }}</div><br>
                <div>{{ p.location.country }}</div>
            </div>
        </div>
    </div>

    <script>
        const app = Vue.createApp({
            data() {
                return {
                    filter_text: "",
                    pic_size: '2',
                    show_mise: false,
                    show_tel: false,
                    show_mail: false,
                    homme: true,
                    femme: true,
                    mef: false,
                    personnes: [
                        {
                            "gender": "female",
                            "name": { "title": "Mrs", "first": "Elizabeth", "last": "Ambrose" },
                            "location": { "country": "Canada" },
                            "email": "elizabeth.ambrose@example.com",
                            "phone": "366-033-8063",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/women/49.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/women/49.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/women/49.jpg"
                            },
                            "login": { "uuid": "50777e60-394d-4951-b933-a2f78599065d" },
                            "gender": "female"
                        },
                        {
                            "gender": "male",
                            "name": { "title": "Mr", "first": "Batista", "last": "Silveira" },
                            "location": { "country": "Brazil" },
                            "email": "batista.silveira@example.com",
                            "phone": "(53) 5553-2892",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/men/50.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/men/50.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/50.jpg"
                            },
                            "login": { "uuid": "5308f02b-7838-4b48-8114-2fe1349c0819" },
                            "gender": "male"
                        },
                        {
                            "gender": "male",
                            "name": { "title": "Mr", "first": "Blaise", "last": "Adam" },
                            "location": { "country": "Switzerland" },
                            "email": "blaise.adam@example.com",
                            "phone": "079 493 00 77",
                            "picture": {
                                "large": "https://randomuser.me/api/portraits/men/29.jpg",
                                "medium": "https://randomuser.me/api/portraits/med/men/29.jpg",
                                "thumbnail": "https://randomuser.me/api/portraits/thumb/men/29.jpg"
                            },
                            "login": { "uuid": "3f7d9b90-8858-4986-bdf3-075df560ce31" },
                            "gender": "male"
                        }
                    ]
                };
            },
            computed: {
                filteredPersons() {
                    return this.personnes.filter(p => {
                        const nameMatch = this.filter_text === "" ||
                            p.name.first.toLowerCase().includes(this.filter_text.toLowerCase()) ||
                            p.name.last.toLowerCase().includes(this.filter_text.toLowerCase());

                        const genderMatch = (this.homme && p.gender === "male") || (this.femme && p.gender === "female");

                        return nameMatch && genderMatch;
                    });
                }
            }
        });

        app.mount('#app');
    </script>
</body>

</html>
